* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.container {
  border: 4px solid black;
  width: 800px;
  margin: 30px auto;
  position: relative;
}
.sale {
  display: inline-block;
  position: absolute;
  background-color: rgb(233, 25, 25);
  color: white;
  text-transform: uppercase;
  padding: 5px 13px;
  font-weight: bold;
  top: -18px;
  left: -40px;
  letter-spacing: 3px;
  font-size: 15px;
}
h2 {
  background-color: rgb(248, 246, 245);
  text-align: center;
  font-size: 20px;
  padding: 15px;
}
h2,
h3,
.shipping,
button {
  text-transform: uppercase;
}
.price {
  font-size: 25px;
}
.shipping {
  color: rgba(117, 120, 122, 0.925);
  font-size: 12px;
  font-weight: bold;
}
.description {
  margin-top: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}
.color-list {
  margin-top: 30px;
}
.color-one,
.color-two,
.color-three,
.color-four,
.color-five,
.color-six {
  width: 22px;
  height: 22px;
}
.color-one {
  background-color: black;
}
.color-two {
  background-color: rgb(37, 94, 216);
}
.color-three {
  background-color: rgba(206, 17, 17, 0.966);
}
.color-four {
  background-color: rgba(230, 190, 17, 0.938);
}
.color-five {
  background-color: rgba(150, 219, 45, 0.966);
}
.color-six {
  background-color: rgb(116, 73, 53);
}
.product-details {
  margin: 20px 0;
  font-size: 16px;
}
.product-list {
  list-style: square;
  margin-left: 20px;
}
li {
  margin-bottom: 10px;
}
button {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  padding: 15px;
  border-top: 4px solid black;
  width: 100%;
}
button:hover {
  background-color: white;
  color: black;
}
/*flexbox*/
.flex-container {
  display: flex;
  gap: 30px;
}
.price-shipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info {
  flex: 0 0 250px;
  margin-top: 25px;
}
.description {
  margin-bottom: 10px;
}
.color-list {
  display: flex;
  gap: 10px;
}
